@if(hasError()) {
<app-feedback-message></app-feedback-message>
}

<div class="divider divider-primary">
  <h1 class="text-primary font-bold text-xl lg:text-2xl font-custom-one text-center">
    Sign in
  </h1>
</div>

<div class="relative w-full">

  @if(isLoading()) {
  <app-loading
    [overlay]="true"
    [text]="'Signing in...'"
  ></app-loading>
  }

  <form
    autocomplete="off"
    class="flex flex-col gap-4 lg:gap-6 w-full"
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
  >

    <!-- Username - Email -->
    <div class="form-control w-full">
      <label class="input input-bordered flex items-center gap-3">
        <svg
          class="w-4 h-4 opacity-60 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
            <circle
              cx="12"
              cy="7"
              r="4"
            ></circle>
          </g>
        </svg>
        <input
          type="text"
          class="grow bg-transparent border-none outline-none min-w-0"
          placeholder="Username or Email"
          formControlName="usernameOrEmail"
          autocomplete="off"
          [class.input-error]="!isLoading() && formUtils.isValidField(signInForm, 'usernameOrEmail')"
        />
      </label>
      @if(!isLoading() && formUtils.isValidField(signInForm, 'usernameOrEmail')) {
      <div class="label">
        <span class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ formUtils.getFieldError(signInForm,
          'usernameOrEmail')
          }}</span>
      </div>
      }
    </div>

    <!-- Password -->
    <div class="form-control w-full">
      <label class="input input-bordered flex items-center gap-3">
        <svg
          class="w-4 h-4 opacity-60 flex-shrink-0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <path
              d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
            ></path>
            <circle
              cx="16.5"
              cy="7.5"
              r=".5"
              fill="currentColor"
            ></circle>
          </g>
        </svg>
        <input
          type="password"
          class="grow bg-transparent border-none outline-none min-w-0"
          placeholder="Password"
          formControlName="password"
          autocomplete="off"
          [class.input-error]="!isLoading() && passwordUtils.isValidField(signInForm, 'password')"
        />
      </label>
      @if(!isLoading() && passwordUtils.isValidField(signInForm, 'password')) {
      <div class="label">
        <div class="space-y-1">
          @for (error of passwordUtils.getFieldError(signInForm, 'password'); track $index) {
          <div class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ error }}</div>
          }
        </div>
      </div>
      }
    </div>

    <!-- Forgot Password -->
    <div class="text-center">
      <label
        class="link link-primary text-sm"
        [class.pointer-events-none]="isLoading()"
        for="my_modal_7"
      >Forgot Password?</label>

      <input
        type="checkbox"
        id="my_modal_7"
        class="modal-toggle"
      />
      <div
        class="modal"
        role="dialog"
      >
        <div class="modal-box">
          <h3 class="text-lg font-bold">Forgot Password?</h3>
          <p class="py-4">
            Please contact the administrator to reset your password.
          </p>
        </div>
        <label
          class="modal-backdrop"
          for="my_modal_7"
        >Close</label>
      </div>
    </div>

    <!-- Sign in -->
    <button
      class="btn btn-primary w-full"
      type="submit"
      [disabled]="isLoading()"
    >
      @if(isLoading()) {
        <span class="loading loading-spinner loading-sm"></span>
        Signing in...
      } @else {
        Sign in
      }
    </button>

  </form>
</div>
