<footer
  class="footer footer-horizontal bg-base-100/60 backdrop-blur border-t border-base-300/30 p-2 text-xs text-base-content/90"
>
  <aside class="grid-flow-col items-center gap-2">
    <shared-icon
      type="copyright"
      size="xl"
    />
    <span>© {{ currentYear }} <span class="text-primary font-medium">Veraz</span>. All rights reserved.</span>
  </aside>
  <nav class="grid-flow-col gap-2 place-self-end">
    <a
      href="https://www.linkedin.com/in/juanmavelezpa/"
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-ghost btn-xs"
    >
      <shared-icon
        type="linkedin"
        size="xl"
      />
    </a>
  </nav>
</footer>
