<div class="divider divider-primary">
  <h1 class="text-primary font-bold text-xl lg:text-2xl font-custom-one text-center">
    Sign up
  </h1>
</div>

<form
  autocomplete="off"
  class="flex flex-col gap-2"
  [formGroup]="signUpForm"
  (ngSubmit)="onSubmit()"
>

  <!-- Username -->
  <label class="input validator">
    <shared-icon type="user" />
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      formControlName="username"
      autocomplete="username"
    />
  </label>
  @if(formUtils.isValidField(signUpForm, 'username')) {
  <div
    role="alert"
    class="alert alert-soft text-xs"
  >
    <div>
      @for (error of formUtils.getFieldError(signUpForm, 'username'); track $index) {
      <p class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ error }}</p>
      }
    </div>
  </div>
  }

  <!-- Email -->
  <label class="input validator">
    <shared-icon type="email" />
    <input
      type="email"
      class="form-control"
      placeholder="mail@site.com"
      formControlName="email"
      autocomplete="email"
    />
  </label>
  @if(formUtils.isValidField(signUpForm, 'email')) {
  <div
    role="alert"
    class="alert alert-soft text-xs"
  >
    <div>
      @for (error of formUtils.getFieldError(signUpForm, 'email'); track $index) {
      <p class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ error }}</p>
      }
    </div>
  </div>
  }

  <!-- Password -->
  <label class="input validator">
    <shared-icon type="eye" />
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      formControlName="password"
      autocomplete="new-password"
    />
  </label>
  @if(passwordUtils.isValidField(signUpForm, 'password')) {
  <div
    role="alert"
    class="alert alert-soft text-xs"
  >
    <div>
      @for (error of passwordUtils.getFieldError(signUpForm, 'password'); track $index) {
      <p class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ error }}</p>
      }
    </div>
  </div>
  }

  <!-- Confirm Password -->
  <label class="input validator">
    <shared-icon type="eye" />
    <input
      type="password"
      class="form-control"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      autocomplete="new-password"
    />
  </label>
  @if(passwordUtils.isValidField(signUpForm, 'confirmPassword')) {
  <div
    role="alert"
    class="alert alert-soft text-xs"
  >
    <div>
      @for (error of passwordUtils.getFieldError(signUpForm, 'confirmPassword'); track $index) {
      <p class="text-sm label-text-alt text-error break-words mt-1 ml-1">{{ error }}</p>
      }
    </div>
  </div>
  }

  <!-- Confirm Password Error -->
  @if ( signUpForm.errors?.['fieldNotMatch']) {
  <div
    role="alert"
    class="alert alert-soft text-xs"
  >
    <span class="text-sm label-text-alt text-error break-words mt-1 ml-1">Passwords do not match</span>
  </div>
  }

  <!-- Sign up -->
  <button
    class="btn btn-primary btn-outline"
    type="submit"
  >
    Sign up
  </button>

  <!-- Sign in -->
  <button
    class="btn btn-sm btn-accent btn-outline"
    (click)="navigateToSignIn()"
  >
    <shared-icon type="login" />
    Sign in
  </button>

</form>
