<div class="space-y-1">
  @for (theme of themes; track theme.value) {
  <label
    class="flex items-center gap-2 p-1.5 rounded-md hover:bg-base-300 transition-all duration-200 cursor-pointer relative"
  >
    <input
      type="radio"
      name="theme-dropdown"
      class="theme-controller"
      [attr.aria-label]="theme.label"
      [value]="theme.value"
      [checked]="isCurrentTheme(theme.value)"
      (change)="onThemeChange($event)"
    />
    <div
      class=" rounded-md flex items-center justify-center shadow-sm transition-all duration-200"
      [class]="theme.gradient"
    >
      <shared-icon
        [type]="getThemeIcon(theme.value)"
        size="sm"
        color="white"
      />
    </div>
    <div class="flex-1">
      <div class="font-medium text-xs">{{ theme.label }}</div>
      <div class="text-xs text-base-content/50">{{ theme.description }}</div>
    </div>
  </label>
  }
</div>
