@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, dracula --prefersdark, synthwave, valentine, lemonade, aqua;
}

@theme {
  --font-custom-one: "Montserrat", sans-serif;
  --animation-fadeIn: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("@assets/fonts/montserrat_alternates/MontserratAlternates-Medium.ttf")
    format("truetype");
}

.animate__fadeIn {
  animation: var(--animation-fadeIn);
}
